@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "worksans-light";
  src: url("../../public/assets/fonts/work-sans/WorkSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "worksans-regular";
  src: url("../../public/assets/fonts/work-sans/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "worksans-medium";
  src: url("../../public/assets/fonts/work-sans/WorkSans-Medium.ttf") format("truetype");
}
  

@layer base {
    ::-webkit-scrollbar {
      @apply w-2.5;
    }
    ::-webkit-scrollbar-track {
      @apply rounded-[10px] bg-[#eee];
    }
    ::-webkit-scrollbar-thumb {
      @apply bg-main-color/80 rounded-[10px];
    }

    * {
      @apply text-main-color font-worksans-regular;
    }
}

@layer components {
  .table-container {
    @apply px-6 py-8;
    box-shadow: 0 10px 10px rgba(0,0,0,.08);
  }
  
  .icon {
    @apply p-1.5 rounded-full cursor-pointer transition-all duration-200;
  }
  
  .icon.detail-icon {
    background: rgba(37, 99, 235, .2);
  }
  
  .icon.edit-icon {
    background: rgba(234, 88, 12, .2);
  }
  
  .icon.delete-icon {
    background: rgba(220, 38, 38, .2);
  }
  
  .icon:hover {
    @apply opacity-80 -translate-y-1;
  }

  .btn {
    @apply px-4 py-2 border-0 font-worksans-medium rounded transition-all duration-300 hover:opacity-80 focus:outline-4 focus:outline;
  }

  .btn-create {
    @apply bg-third-color/25;
  }

  .btn-create i, .btn-create span {
    @apply text-secondary-color;
  }

  .btn-create:focus {
    @apply outline-secondary-color/10;
  }

  .search-group {
    @apply my-5 flex justify-between px-4 py-3 rounded bg-fourth-color/50;
  }

  .input-search {
    @apply outline-none bg-transparent font-normal min-w-full placeholder:text-third-color/70 text-third-color/70;
  }

  .select-option {
    @apply relative;
  }

  .display-text {
    @apply flex justify-between cursor-pointer bg-third-color px-3 py-1.5 rounded;
  }

  .select-option.active .fa-chevron-down {
    @apply rotate-180 transition-all duration-300;
  }

  .select-option .option-group {
    @apply bg-third-color absolute top-10 rounded w-full transition-all duration-300 opacity-0 -translate-y-3;
  }

  .select-option .option-group.active {
    @apply inline-block opacity-100 translate-y-0;
  }

  .select-option .option-item p {
    @apply text-white px-3 py-1.5 text-sm mb-1 font-worksans-light cursor-pointer hover:bg-fourth-color/10;
  }
}